{% load static %}
{% include "ecom/customer_navbar.html" %}

<!-- ==================== Breadcumb Start Here ==================== -->
<section class="breadcumb py-120 bg-img" style="background-image: url(assets/images/thumbs/breadcumb-img.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcumb__wrapper">
                    <h1 class="breadcumb__title"> Contact Us</h1>
                    <ul class="breadcumb__list">
                        <li class="breadcumb__item"><a href="index.html" class="breadcumb__link"> <i class="las la-home"></i> Home</a> </li>
                        <li class="breadcumb__item"> / </li>
                        <li class="breadcumb__item"> <span class="breadcumb__item-text"> Contact Us </span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Breadcumb End Here ==================== -->

<!-- ==================== Contact Start Here ==================== -->
<section class="contact-top pt-120">
    <div class="container">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <div class="contact-item">
                    <div class="contact-item__thumb">
                        <img src="assets/images/icons/contact01.png" alt="">
                    </div>
                    <div class="contact-item__content">
                        <h5 class="contact-item__title"> 000 - 8888 - 9999 </h5>
                        <p class="contact-item__desc"> Accompanied By English versions  </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <div class="contact-item">
                    <div class="contact-item__thumb">
                        <img src="assets/images/icons/contact02.png" alt="">
                    </div>
                    <div class="contact-item__content">
                        <h5 class="contact-item__title"> 102 Street 2714 Donovan </h5>
                        <p class="contact-item__desc"> including versions of Lorem Ipsum </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <div class="contact-item">
                    <div class="contact-item__thumb">
                        <img src="assets/images/icons/contact03.png" alt="">
                    </div>
                    <div class="contact-item__content">
                        <h5 class="contact-item__title"> <a href="https://template.viserlab.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="aae3c4ccc59b9899eaedc7cbc3c684c9c5c7">[email&#160;protected]</a></h5>
                        <p class="contact-item__desc"> including versions of Lorem Ipsum </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6  d-lg-none d-block">
                <div class="contact-item">
                    <div class="contact-item__thumb">
                        <img src="assets/images/icons/contact01.png" alt="">
                    </div>
                    <div class="contact-item__content">
                        <h5 class="contact-item__title"> 000 - 8888 - 9999 </h5>
                        <p class="contact-item__desc"> Accompanied By English versions  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Contact End Here ==================== -->
<!-- ==================== Contact Form & Map Start Here ==================== -->
<div class="contact-bottom py-120 ">
    <div class="container">
        <div class="bg-img" style="background-image: url(assets/images/thumbs/contact-bg.png);">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-bottom__inner">
                        <div class="row align-items-center justify-content-center">
                        <div class="col-lg-9 col-md-10 col-sm-10">
                            <div class="contactus-form">
                                <div class="contactus-form__thumb-one">
                                    <img src="assets/images/thumbs/contact03.png" alt="">
                                </div>
                                <div class="contactus-form__thumb-two">
                                    <img src="assets/images/thumbs/contact04.png" alt="">
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-heading">
                                            <h4 class="section-heading__title style-four">Send Your Message <span class="section-heading__bars"></span></h4>
                                        </div>
                                    </div>
                                    <form action="#" autocomplete="off">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                   <label for="name" class="mb-2">Your Name<span class="required">*</span></label>
                                                   <input type="text" class="form--control" id="name">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                   <label for="emailaddress" class="mb-2">Email Address<span class="required">*</span></label>
                                                   <input type="email" class="form--control" id="emailaddress">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                   <label for="message" class="mb-2">Your Message </label>
                                                   <textarea class="form--control" id="message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 text-center">
                                                <button class="btn btn--base pill"> SEMD YOUR MESSAGE </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--==================== contact map start here =================-->
<div class="contact-section pt-120">
    <div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.1786539292675!2d55.272182351322364!3d25.197196983817076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43348a67e24b%3A0xff45e502e1ceb7e2!2sBurj%20Khalifa!5e0!3m2!1sen!2sbd!4v1664880876062!5m2!1sen!2sbd" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!-- ====================contact map end here==================== -->

<!-- ==================== Contact Form & Map End Here ==================== -->


  



</body>

<!-- Mirrored from template.viserlab.com/viserpet/demos/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jun 2023 10:27:20 GMT -->
</html>
{% include "ecom/footer.html" %}