{% load static %}
{% include "ecom/customer_navbar.html" %}
{% load widget_tweaks %}

<!--========================== Banner Section Start ==========================-->
<section class="banner-section pt-60 pb-60">
  <div class="container">
        
          
            <div class="banner"> 
                <div class="banner-content">
                    <h4 class="banner-content__subtitle">Best Services</h4>
                    <h2 class="banner-content__title">Buy Youtube Monetization Package    </h2>
                    <p class="banner-content__desc">
                        We Promote Youtube Channel
                    </p>
                    <div class="banner-content__buttons">
                        <a href="" class="btn btn--base pill">SHOP NOW</a>
                        <div class="button-shape">
                            <img src="{% static 'assets/images/shapes/button-shape.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="banner-thumb">
                    <img src="{% static 'assets/images/img2.png' %}" alt="">
                    <div class="banner-thumb__shape">
                        <img src="{% static 'assets/images/shapes/banner-shape.png' %}" alt="">
                    </div>
                </div>
            </div>
         
    
  </div>
</section>


<!--========================== Banner Section End ==========================-->















<section class="banner-section pt-0 pb-60">
    <div class="container" id="Sell_channel">
          
            
              <div class="banner">
                  <div class="banner-content">
                      <h4 class="banner-content__subtitle">Sell Your Youtube Channel</h4>
                      <h2 class="banner-content__title">Sell Your Youtube Channel With The Most Trusted Platform    </h2>
                      <p class="banner-content__desc">
                          We Sell Your Youtube Channel
                      </p>
                     
                  
               

                        <div class="col-md-12">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4 section-heading__title style-two">Fill Required details</h3>
                                <div id="form-message-warning" class="mb-4"></div> 
                       
                          <form id="ServiceForm" name="MyForm" class="contactForm" action="{% url 'sellyt' %}" method="POST">

                            {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <!-- <label  class="label" for="name">Subscriber</label> -->
                                                <input type="text" class="form-control" name="Name"  placeholder="Enter Your Name">
                                            </div>
                                        </div>
                                        <div class="col-md-12"> 
                                            <div class="form-group">
                                                <!-- <label class="label" for="email">Watch hour</label> -->
                                                <input type="text" class="form-control" name="Whatsapp"  placeholder="Enter Your Whatsapp Number">
                                            </div>
                                        </div>
                                        <div class="col-md-12"> 
                                            <div class="form-group">
                                                <!-- <label class="label" for="subject">Channel Url</label> -->
                                                <input type="text" class="form-control" name="Channel_Link"  placeholder="Channel Link">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <!-- <label class="label" for="#">Message</label> -->
                                                <input name="Subscribers" class="form-control"  placeholder="Channel Subscribers">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <!-- <label class="label" for="#">Message</label> -->
                                                <input name="Status" class="form-control"  placeholder="Monetization Status">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <!-- <label class="label" for="#">Message</label> -->
                                                <input name="Price" class="form-control"  placeholder="Enter your Expected Price">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <!-- <a href="{% url 'customer-address' %}" class="btn btn--base pill">PROCEED TO CHECKOUT</a> -->
                                                <input  type="submit" value="Submit" class="btn btn--base pill btn--sm">
                                               
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                       


                        </div>
           

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</section>









<div class="new-arrival-section py-60">
    <div  class="container"id="Monetization_Services">
          
         <div class="product-item text-center">

            
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        
                         <h4 class="section-heading__subtitle">Special Services</h4>
                         <h3 class="section-heading__title style-two">Youtube Monetization Services<span class="section-heading__bars"></span></h3>
                     
                         
                         
                          
                        </div>
                        
                            <a href="product-two-details.html" class="product-item__title-link">
                             YouTube Watchtime | Put Video 15 min+ | Non Drop | Lifetime Refill | 500-1000/day |
                            </a>
                          
                 </div>
           </div> 



           
            <div class="product-item__thumb">
             <a href="" class="product-item__thumb-link">
                <img src="/static/assets/images/img3.jpg" alt="">
             </a>
             <button class="product-item__icon">
                  <span class="product-item__icon-style">
                   <i class="las la-heart"></i>
                 </span> 
             </button>
             <div class="product-item__badge">
                 <span class="badge badge--base"></span>
             </div>
           </div>
           <div class="product-item__content">
           
          

           <section style="background-color: #F2EDED" class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                   
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="wrapper">
                           
                              
                                
                         
                                
                          </div>
                                </div>
                            </div>

                            
                            
                                <div class="col-md-12">
                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                        <h3 class="mb-4 section-heading__title style-two">Fill Required details</h3>
                                        <div id="form-message-warning" class="mb-4"></div> 
                                  <!-- <div id="form-message-success" class="mb-4">
                                Your message was sent, thank you!
                                  </div> -->
                                  <form id="ServiceForm" name="MyForm" class="contactForm" action="{% url 'sellyt1' %}" method="POST">

                                    {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <!-- <label  class="label" for="name">Subscriber</label> -->
                                                        <input type="text" class="form-control" name="Name1"  placeholder="Enter Your Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-12"> 
                                                    <div class="form-group">
                                                        <!-- <label class="label" for="email">Watch hour</label> -->
                                                        <input type="text" class="form-control" name="Whatsapp1"  placeholder="Enter Your Whatsapp Number">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <!-- <label  class="label" for="name">Subscriber</label> -->
                                                        <input type="text" class="form-control" name="Subscriber1"  placeholder="Enter Subscriber Needed">
                                                    </div>
                                                </div>
                                                <div class="col-md-12"> 
                                                    <div class="form-group">
                                                        <!-- <label class="label" for="email">Watch hour</label> -->
                                                        <input type="text" class="form-control" name="Watch_hour1"  placeholder="Enter Watch hour Needed">
                                                    </div>
                                                </div>
                                                <div class="col-md-12"> 
                                                    <div class="form-group">
                                                        <!-- <label class="label" for="subject">Channel Url</label> -->
                                                        <input type="text" class="form-control" name="Views1"  placeholder="Enter Views Needed">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <!-- <label class="label" for="#">Message</label> -->
                                                        <textarea name="Channel_Url1" class="form-control"  cols="30" rows="4" placeholder="Enter your Channel Url"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group ">
                                                        <!-- <a href="{% url 'customer-address' %}" class="btn btn--base pill">PROCEED TO CHECKOUT</a> -->
                                                        <input  type="submit" value="Submit" class="btn btn--base pill btn--sm">
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
           </div>


      
           
               </div>
             </div>





    </div>
</div>








<!--========================== category section start here ======================-->
 <div class="new-arrival-section py-60">
  <div class="container "id="Latest_products">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-heading">
                  <h4 class="section-heading__subtitle">Channels</h4>
                  <h3 class="section-heading__title ">Special Channels</h3>
                  <h2 class="banner-content__title ">Buy Youtube Channel With The Most Trusted Platform    </h2>
               </div>
          </div>
       </div>
      <!--    <div class="col-lg-12">
              <div class="filter">

                  <button type="button" data-filter="all" class="mixitup-control-active">All</button>
                  {% for item in category %}
                  <a href="{% url 'collections' item.name %}">
                  <button type="button" data-filter=".cat">{{item.name}}</button></a>
                  {% endfor %} 
                 
               </div>
          </div>

          <div class="product">
              <div class="row justify-content-center gy-4">  
                
                {% for item in Latest_products %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xsm-6">
                    <div class="product-item text-center">
                        <div class="product-item__thumb">
                            <a href="{% url 'product_details' item.category.name item.name %}" class="product-item__thumb-link">
                                <img src="{{ item.product_image.url }}" alt="">
                            </a>
                            <button class="product-item__icon">
                                <span class="product-item__icon-style">
                                    <!-- <a href="{% url 'fav' item.id %}">
                                    <i  class="las la-heart"></i></a> 
                                </span>
                            </button>
                            <div class="product-item__badge">
                                <span class="badge badge--base">Sale</span>
                            </div>
                        </div>
                        <div class="product-item__content">
                            <h5 class="product-item__title">
                                <a href="{% url 'collections' item.name %}" class="product-item__title-link">
                                    {{ item.name }} 
                                </a>
                            </h5>
                            <ul class="product-info__rating justify-content-center align-items-center">
                                {{ item.Detail }}
                            </ul>
                            <h6 class="product-item__price">
                                <span class="product-item__price-new">Rs.{{ item.price|stringformat:'d' }}</span> Rs.{{ item.selling_price|stringformat:'d' }}
                            </h6>
                            {% if item.quantity > 0 %}
                                <a href="{% url 'add-to-cart' item.id %}" class="btn btn--base pill btn--sm">Add to Cart</a>
                            {% else %}
                                <a href="#" class="btn btn--danger pill btn--sm">Out of Stock</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            
              </div>
          </div>
  </div>
</div> -->


<div class="grid-container" >
    {% for item in Latest_products %}
<div class="grid-elements">
    <div class="thumbnail">
        <a href="" class="product-item__thumb-link">
            <div>
                <img src="{{ item.product_image.url }}" alt="">
            </div>
        </a>
    </div>
    <div class="subscriber ">
        <div>
            Subscribers<div>{{ item.Subscriber }}</div>
        </div>
    </div>
    <div class="watch-hours">
        <div>
            watch hours {{item.Watchhour}}
        </div>
    </div>
    <div class="monetisation">
        <div>
            {{item.Channelstatus}}
        </div>
    </div>
    <div class="price">
        Rs.{{ item.selling_price|stringformat:'d' }}
    </div>
    <div class="buy-add-button">
        <!-- <a href="" type="submit" class="add-cart "> <button>
            Buy Now
        </button></a> -->
        
       <a href="{% url 'add-to-cart' item.id %}" type="submit" class="add-cart "> <button>
            Add to cart
        </button></a>
    </div>
</div>
{% endfor %}
</div>
<!--==============================offer-section start  here=============================-->
<div class="offer-section pt-60 pb-60">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <a href="" class="offer offer1">
                    <img src="{% static 'assets/images/img3.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a href="" class="offer">
                    <img src="{% static 'assets/images/img4.jpg' %}" alt="">
                 </a>
            </div>
        </div>
    </div>
</div>






<!-- ====================deal section start here ====================-->












<!-- <div class="best-deals-section py-60">
        <div class="container-fluid p-0">
        <div class="row gx-0 justify-content-center flex-wrap-reverse">
                <div class="col-xl-4">
                   <div class="deal-thumb">
                      <img src="{% static 'assets/images/thumbs/deal-img.png' %}" alt="">
                  </div>
                </div>
                <div class="col-xl-8">
                <div class="deal-counter py-120" style="background-image: url({% static 'assets/images/thumbs/test-two0.png' %});">
                    <div class="section-heading style-three">
                        <h4 class="section-heading__subtitle">Best Foods</h4>
                        <h3 class="section-heading__title">Best Deals Of The Week!</h3>
                     </div>
                     <div id="countdown-container"></div>
                     <div class="deal-counter__footer text-center">
                        <p class="deal-counter__title mb-3">Special Food</p>
                        <h6 class="deal-counter__price">
                             <span class="deal-counter__price-new">Rs.620</span> Rs.520 
                        </h6>
                    </div>
                    <div class="text-center">
                        <a href="" class="btn btn--base pill">SHOP NOW</a>
                    </div>
                     </div>
                </div>
            </div>
        </div>
    </div> -->
<!--===================== deal section end Here ====================-->
<!--==========================new arrival section start here======================-->



















<!--======================product sections start here =================-->
<div class="product-section py-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                   <h4 class="section-heading__subtitle">Special Channels</h4>
                   <h3 class="section-heading__title style-two">Trending Channels<span class="section-heading__bars"></span></h3>
                </div>
            </div>
        </div>


        <div class="row justify-content-center gy-4">


         
           

            <div class="grid-container">
                {% for item in Trending_products %}
            <div class="grid-elements">
                <div class="thumbnail">
                    
                    <div>
                        <img src="{{ item.product_image.url }}" alt="">
                    </div>

                </div>
                <div class="subscriber ">
                    <div>
                        Subscribers<div>{{ item.Detail }}</div>
                    </div>
                </div>
                <div class="watch-hours">
                    <div>
                        watch hours {{item.Watchhour}}
                    </div>
                </div>
                <div class="monetisation">
                    <div>
                        {{item.Channelstatus}}
                    </div>
                </div>
                <div class="price">
                    Rs.{{ item.selling_price|stringformat:'d' }}
                </div>
                <div class="buy-add-button">
                    <button type="submit" class="buy-now">
                        Buy now
                    </button>
                   <a href="{% url 'add-to-cart' item.id %}" type="submit" class="add-cart "> <button>
                        Add to cart
                    </button></a>
                </div>
            </div>
            {% endfor %}
            </div>

            
                </div>
            </div>
           
        </div>
    </div>
</div>

<!-- ====================end ====================-->







<!--========================== Coverage Section Start ==========================-->
<!-- <div class="client pb-120 pt-60">
    <div class="container">
        <div class="client-logos client-slider">
            <img src="{% static 'assets/images/2__brands/client-01.png' %}" alt="">
            <img src="{% static 'assets/images/2__brands/client-04.png' %}" alt="">
            <img src="{% static 'assets/images/2__brands/client-03.png' %}" alt="">
            <img src="{% static 'assets/images/2__brands/client-04.png' %}" alt="">
            <img src="{% static 'assets/images/2__brands/client-01.png' %}" alt="">
            <img src="{% static 'assets/images/2__brands/client-04.png' %}" alt="">
            <img src="{% static 'assets/images/2__brands/client-03.png' %}" alt="">
        </div>
    </div>
</div> -->
<!--========================== Coverage Section End ==========================-->

<!--============================feature section start here =======================-->
<div class="feature-section bg-img py-60" style="background-image: url(assets/images/thumbs/feature/feature-img.png);">
    <div class="container">
        <div class="row gy-4">
            <div class="col-md-3 col-sm-6 col-xxsm-6">
                <div class="feature-item">
                    <!-- <div class="feature-item__thumb">
                        <img src="{% static 'assets/images/thumbs/feature/f04.png' %}" alt="">
                    </div> -->
                    <div class="feature-item__info">
                        <!-- <h5 class="feature-item__title">
                            FREE SHIPPING
                        </h5> -->
                        <!-- <span class="feature-item__payment"> For All Order Over $99 </span> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xxsm-6">
                 <div class="feature-item">
                    <div class="feature-item__thumb">
                        <img src="{% static 'assets/images/thumbs/feature/f03.png' %}" alt="">
                    </div>
                    <div class="feature-item__info">
                        <h5 class="feature-item__title">
                            FRIENDLY SUPPORT
                        </h5>
                        <span class="feature-item__payment"> 24/7 Customer Support </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xxsm-6">
                <div class="feature-item">
                    <div class="feature-item__thumb">
                        <img src="{% static 'assets/images/thumbs/feature/f02.png' %}" alt="">
                    </div>
                    <div class="feature-item__info">
                        <h5 class="feature-item__title">
                            SECURE PAYMENT
                        </h5>
                        <span class="feature-item__payment">100%  Secure Payment</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xxsm-6">
                <div class="feature-item">
                    <!-- <div class="feature-item__thumb">
                        <img src="{% static 'assets/images/thumbs/feature/f01.png' %}" alt="">
                    </div> -->
                    <div class="feature-item__info">
                        <!-- <h5 class="feature-item__title">
                            SHIPPING 
                        </h5> -->
                        <!-- <span class="feature-item__payment"> within 1 hr</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    function Servicedata(){
  
     var ytsellname1=document.getElementById('Name1').value;
     var Whatsapp1=document.getElementById('Whatsapp1').value;
     var Channel_Link1=document.getElementById('Channel_Url1').value;
     var Subscribers1=document.getElementById('Subscriber1').value;
     var watchhour=document.getElementById('Watch_hour1').value;
     var Views1=document.getElementById('Views1').value;
     var url="https://wa.me/917418291374?text="
     +"Name:"+ytsellname1+"%0a"
     +"Whatsapp:"+Whatsapp1+"%0a"
     +"Channel_Link:"+Channel_Link1+"%0a"
     +"Subscribers:"+Subscribers1+"%0a"
     +"watchhour:"+watchhour+"%0a"
     +"Views:"+Views1+"%0a";
     window.open(url,'blank').focus();
   
    }
</script>
</html>
<!-- ==========================feature setion end here ============================-->


{% include "ecom/footer.html" %}

