
<!-- ========footer===== -->
{%load static %}
<!-- ==================== Footer Start Here ==================== -->
<footer class="footer-area section-bg-light bg-img">
  <div class="pb-60 pt-120">
      <div class="container">
          <div class="row justify-content-center gy-5">
              <div class="col-xl-3 col-sm-6">
                  <div class="footer-item">
                      <div class="footer-item__logo">
                        <h4 style="font-weight: 900;color:white;padding-top: 10px;">Youtube Channel Sale</h4></span>
                          <!-- <a href="index.html"> <img src="{% static 'assets/images/logo/footer-logo02.png' %}" alt=""></a> -->
                      </div>
                      <p class="footer-item__desc"> Youtube Channel Sale  <br>Contact:+91 7397349922 </p>
                      <ul class="social-list">
                          <li class="social-list__item"class="social-list__link"><i class="fab fa-facebook-f"></i> </li>
                          <li class="social-list__item"class="social-list__link"> <i class="fab fa-twitter"></i></li>
                          <li class="social-list__item" class="social-list__link"> <i class="fab fa-linkedin-in"></i></li>
                          <li class="social-list__item"class="social-list__link"> <i class="fab fa-pinterest-p"></i></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-1 d-xl-block d-none"></div>
              <div class="col-xl-2 col-sm-6">
                  <div class="footer-item">
                      <h5 class="footer-item__title"> Pages </h5>
                      <ul class="footer-menu">
                          <li class="footer-menu__item" class="footer-menu__link"> About Us</li>
                          <!-- <li class="footer-menu__item"><a href="faq.html" class="footer-menu__link"> Faq</a></li> -->
                          <li class="footer-menu__item"><a href="cart" class="footer-menu__link">Shopping Cart </a></li>
                          <!-- <li class="footer-menu__item"><a href="blog.html" class="footer-menu__link"> Blog</a></li> -->
                          <li class="footer-menu__item"><a  class="footer-menu__link"> Product Details</li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-2 col-sm-6">
                  <div class="footer-item">
                      <h5 class="footer-item__title"> Useful link </h5>
                      <ul class="footer-menu">
                          <li class="footer-menu__item" class="footer-menu__link"> Product Category </li>
                          <li class="footer-menu__item"><a  class="footer-menu__link">Checkout</li>
                          <li class="footer-menu__item"><a href="customerlogin" class="footer-menu__link">Login </a></li>
                          <li class="footer-menu__item"><a href="customersignup" class="footer-menu__link"> Registration </a></li>
                          <li class="footer-menu__item"class="footer-menu__link"> Contact Us </li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-1 d-xl-block d-none"></div>
              <div class="col-xl-3 col-sm-6">
                  <div class="footer-item">
                      <h5 class="footer-item__title">Subscribe now</h5>
                      <div class="subscriber-form mb-3">
                          <input type="text" class=" form--control style-two" placeholder="Email Address" aria-label="Recipient's username" >
                          <button class="btn btn--base subscribe-button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                        <p>Subscribe to our newsletter and get 10% off your first purchase..</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- Footer Top End-->

  <!-- bottom Footer -->
  <div class="bottom-footer section-bg py-3">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="bottom-footer__text">  Copyright &copy; 2023 . All rights reserved by Jenish.</div>
                  <div class="bottom-footer__text">   Developed By jenish. Contact Me : +91 7418291374</div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- ==================== Footer End Here ==================== -->

<!-- Jquery js -->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.6.1.min.js"></script>
<!-- Popper js -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Slick js -->
<script src="assets/js/slick.min.js"></script>
<!-- countdown js -->
<script src="assets/js/jquery.knob.js"></script>
<script src="assets/js/jquery.throttle.js"></script>
<script src="assets/js/jquery.classycountdown.min.js"></script>
<!-- range js -->
<script src="assets/js/jquery-ui.js"></script>
<!-- magnific popup js -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>



