{% load static %}
{% include "ecom/customer_navbar.html" %}
{% load widget_tweaks %}


  <style type="text/css">
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #1ed336;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
</style>








        
  








<div class="container">
	<form method="GET" action="/ytservice/" >
    <div class="row">
		
		

        <div class="col-lg-6">
			
       
			<div class="col-xs-12 col-md-12 col-lg-12" style="margin-top: 20px;">
				<div class="panel panel-default">
	
					<center><div class="panel-heading">
						<h3 class="panel-title">
							Payment Details
						</h3>
					   
					</div></center>
	
					<div class="panel-body">
						<center>   <h5 class="panel-title">
							Pay with Gpay
						</h5></center>
	
						<div class="product-item__thumb">
							<a href="" class="product-item__thumb-link">
							   <img src="{% static 'assets/images/thumbs/qr-code.jpeg' %}" alt="">
							</a>
						</div>
	
						<div>
							<center class="active"><a href="#"><span class="badge pull-right"></span> Final Payment : Rs.</a>
							</center>
						</div>
						<br>
						
					   
						
					</div>
				</div>
			   
			</div>
			<ul class="form-style-1 col-lg-6">
				<li>
					<label>Name <span class="required" placeholder="Name">*</span></label>
					<input style="width: 260px;" type="text" name="name">
			
				</li>
				<li>
					<label>Mobile <span class="required" placeholder="Mobile">*</span></label>
					<input style="width: 260px;"  type="text" name="mobile">
				</li>
			
				<li>
					<label>Transaction Number <span class="required" placeholder="Enter Transaction Number">*</span></label>
					
                    <input style="width: 260px;"  type="text" name="Transaction_number">
				</li>
				<li>
				   
				</li>
			</ul>
        </div>
		
		<div class="col-lg-6">
			<div class="your-order">
				<h6 class="your-order__title">Your Order</h6>
				
		
		<div class="order d-flex justify-content-between align-items-center">
			<ul class="order-title">
				<li class="order-title__one">Subscriber</li>
			</ul>
			<span class="order__number">{{Subscriber}} </span>
		</div>
		<div class="order d-flex justify-content-between align-items-center">
			<ul class="order-title">
				<li class="order-title__one">Watch_hour</li>
			</ul>
			<span class="order__number">{{Watch_hour}} </span>
		</div>
		<div class="order d-flex justify-content-between align-items-center">
			<ul class="order-title">
				<li class="order-title__one">Views</li>
			</ul>
			<span class="order__number">{{Views}} </span>
		</div>
		<div class="order d-flex justify-content-between align-items-center">
			<ul class="order-title">
				<li class="order-title__one">Channel_Url</li>
			</ul>
			<span class="order__number">{{Channel_Url}} </span>
		</div>

				
				<div class="order d-flex justify-content-between align-items-center">
					<ul class="order-title">
						<li class="order-title__one"></li>
					</ul>
					<span class="order__number"> </span>
				</div>
				
		
				<div class="order d-flex justify-content-between align-items-center">
					<ul class="order-title">
						<li class="order-title__one">Subtotal</li>
					</ul>
					<span class="order__number">Rs. </span>
				</div>
				<!-- <div class="order d-flex justify-content-between align-items-center">
					<ul class="order-title">
						<li class="order-title__one">Shipping</li>
					</ul>
					<div class="order-radio">
						<div class="form--radio mb-2 style-two">
							<label class="" for="flatrate">
								Rs. {{ shipping_charge }}
							</label>
						</div>
					</div>
				</div> -->
				<!-- <div class="order d-flex justify-content-between align-items-center">
					<ul class="order-title">
						<li class="order-title__one">GST</li>
					</ul>
					<div class="order-radio">
						<div class="form--radio mb-2 style-two">
							<label class="" for="flatrate">
								Rs. {{ gst }}
							</label>
						</div>
					</div>
				</div> -->
				<div class="order d-flex justify-content-between align-items-center">
					<ul class="order-title">
						<li class="order-title__one">Total</li>
					</ul>
					<span class="order__number">Rs. </span>
				</div>
				<div class="order-system">
					<!-- Payment options here -->
				</div>
				<p class="your-order__desc">
					Your personal data will be used to process your order, support your experience throughout this website,
					and for other purposes described in our
				</p>
				<a href="index.html" class="your-order__desc-link">privacy policy.</a>
				<div class="form--check">
					<input class="form-check-input" type="checkbox" value="" id="condition" checked>
					<label class="form-check-label" for="condition">
						I have read and agree to the website <a href="index.html" class="order-system__link">terms and
							conditions</a>
					</label>
				</div>
				<form method="POST" action="">
					<!-- Address form fields here -->
					<div class="payment-method">
						<input type="radio" id="payment-gpay" name="payment_method" value="gpay" checked>
						<label for="payment-gpay">GPay</label>
					</div>
					<!-- <div class="payment-method">
						<input type="radio" id="payment-cod" name="payment_method" value="cash_on_delivery">
						<label for="payment-cod">Cash on Delivery</label>
					</div> -->
					<button class="btn btn--base pill" type="submit" value="Submit">Submit</button>
				</form>
			</div>
		</div>
		
    </div>
</div>


{% include "ecom/footer.html" %}




</form>

